version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 342
      POSTGRES_DB: school_dashboard
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  app:
    container_name: nextjs_app
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://postgres:342@postgres_db:5432/school_dashboard
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data:
